<article>
    <header>
        <h1>
            <a href="{{ env.path + entry.permalink }}">{{ entry.title }}</a>
        </h1>
        <div class="meta">
            <time datetime="{{ entry.date.strftime("%Y-%m-%d") }}">
                {{ entry.date.strftime("%d. %B. %Y") }}
            </time>
            {% if conf.disqus_shortname %}
                <span class="spacer">·</span>
                <a href="{{ entry.permalink }}#isso-thread">
                    Kommentieren
                </a>
            {% endif %}
            {% if 'tag' in env.views and entry.tags %}
                <span class="spacer">·</span>
                Tags:
                {% for link in entry.tags | tagify -%}
                    <a href="{{ env.path + link.href }}">{{ link.title }}</a>
                    {%- if loop.revindex > 2 -%}
                    ,
                    {%- elif loop.revindex == 2 %}
                    und
                    {%- elif loop.last -%}
                    .
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </header>
    {{ entry.content }}
    <footer>
        {% if env.type == 'entry' %}
            {% set url = "https://flattr.com/submit/auto?user_id=posativ" %}
            {% set url = url + "&amp;url=" ~ conf.www_root ~ entry.permalink %}
            {% set url = url + "&amp;title=" ~ entry.title.encode('utf-8') | urllib.quote %}
            {% set url = url + "&amp;language=" ~ entry.lang ~ "&amp;category=text" %}
            <a class="floatright" href="{{ url }}" style="clear: both;">
                <img class="no-shadow" alt="Flättern" src="/img/flattr.png"/>
            </a>
        {% endif %}
    </footer>
    <div class="comments">
        {%- if env.type == 'entry' and not entry.draft %}
        <div id="isso-thread"></div>
	<script src="/isso/js/embed.min.js"></script>
        <noscript>
            <p>Please enable JavaScript to view the <a href="https://github.com/posativ/isso">comments powered by Isso.</a></p>
        </noscript>
        {% endif -%}
    </div>
</article>
