{% extends "base.html" %}

{% block title %}
    {%- if env.type != 'entry' -%}
      {{ conf.sitename }}
    {%- else -%}
      {{ entry.title }}
    {%- endif -%}
{% endblock %}

{% block head %}
    {{- super() }}
    {%- if env.type == 'entry' %}
    <meta name="description" content="{{ entry.description | e }}" />
    <meta name="keywords" content="{{ entry.tags | join(', ') }}" />
    {%- endif -%}
{% endblock %}

{% block content %}
    {% for entry in env.entrylist %}
        {% include 'entry.html' %}
    {% endfor %}
    {% if env.type in ['tag', 'index'] %}
        {% if env.prev %}
            <a href="{{ env.path ~ env.prev }}" class="page floatright">
            ältere Beiträge →
            </a>
        {% endif %}
        {% if env.next is not none %}
            <a href="{{ env.path ~ env.next }}" class="page floatleft">
            ← neuere Beiträge
            </a>
        {% endif %}
    {%- endif  %}
{% endblock %}

{% block footer %}
    {{ super() }}
    {% if env.type == 'index' %}
    <script src="/isso/js/count.min.js"></script>
    {% endif %}
{% endblock %}
