<!DOCTYPE html>
<html lang="{{ conf.lang[0][:2] }}">
<head>
  {% block head -%}
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link media="all" href="{{ env.path + '/blog.css' }}" rel="stylesheet" />
  <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery.bbq.min.js"></script>
  <script type="text/javascript" src="/js/search.js"></script>
  <link href="/favicon.ico" rel="shortcut icon" />
  <link href="{{ env.path + '/' }}" rel="home" />
  <link href="{{ env.path + '/atom/' }}" type="application/atom+xml" rel="alternate" title="Atom-Feed" />
  <link href="{{ env.path + '/rss/' }}" type="application/rss+xml" rel="alternate" title="RSS-Feed" />
  <!--[if lt IE 9]><script src="../j/html5.js"></script><![endif]-->
  {%- endblock %}
</head>
<body>
  <header>
    <h1><a href="{{ env.path + '/' }}" class="blogtitle">{{ conf.sitename }}</a></h1>
    <nav>
      <ul>
        <li><a href="{{ env.path + '/' }}">blog</a></li>
        <li><a href="{{ env.path + '/atom/' }}">atom</a></li>
        <li><a href="{{ env.path + '/rss/' }}">rss</a></li>
        <li><a href="{{ env.path + '/articles/' }}">articles</a></li>
        <li>
          <div id="search">
            <form id="search_form" method="post" action="/">
              <input type="text" id="query" name="query" style="display: inline-block; width: 120px;" />
            </form>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  {%- block content -%}
  {%- endblock -%}
  <footer>
    {% block footer %}
    <p>written by <a href="mailto:{{ conf.email }}">{{ conf.author }}</a> | <a href="/impressum.txt">Impressum</a></p>
    <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/" rel="copyright">
        <img src="/img/cc.png" alt="by-nc-sa" />
    </a>
    {% endblock %}
  </footer>
</body>
</html>
